#cabeca1{
    color: rgb(161, 0, 0);
    font-family: Candara;
    text-align: center;
    }
    
    #cabeca2{
        color:rgb(161, 0, 0);
        font-family: Candara;
        text-align: center;
    }
    
    .paragrafo{
    font-family: candara;
    font-weight: bold;
    text-align: center;
    font-size: larger;
    }
    
    img{
        border: 5px;
        border-radius: 10px;
        width: 500px;
        border-color: rgb(197, 1, 1);
        border-style: solid;
    }
    
    body{
        background-color:rgb(10, 10, 10);
        text-align: center;
    }